html body{
    padding: 0;
    margin: 0;
    background: red;
}

.cta{
    position:absolute;
    font-size: 100px;
    color: white;
    font-family: Menlo, Inconcolata, Consolas;
    width: 100%;
    text-align: center;
}

.container{
    display:flex;
}
